In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('vagas_ociosas_2023_1.csv',sep=';')
df=df.dropna()
df

,unidade,cod_curso,nome_curso,qauntidade_vagas_ociosas
0,INFI/Campo Grande,2403.0,Física - Licenciatura,6.0
1,INMA/Campo Grande,2203.0,Matemática - Bacharelado,9.0
2,CPAQ/Aquidauana,447.0,Matemática - Licenciatura,46.0
3,CPAN/Corumbá,553.0,Matemática - Licenciatura,54.0
4,CPTL/Três Lagoas,789.0,Matemática - Licenciatura,44.0
...,...,...,...,...
56,FAALC/Campo Grande,2912.0,Letras - Português/Espanhol - Licenciatura,15.0
57,CPAQ/Aquidauana,432.0,Letras - Português/Inglês - Licenciatura,3.0
58,CPTL/Três Lagoas,745.0,Letras - Português/Inglês - Licenciatura,8.0
59,FAALC/Campo Grande,2913.0,Letras - Português/Inglês - Licenciatura,3.0
60,CPTL/Três Lagoas,740.0,Letras - Português/Literatura - Licenciatura,21.0

In [7]:
df['unidade']=df.apply(  lambda row :  row['unidade'].split('/')[0],axis=1)
df['cod_curso'] = df['cod_curso'].astype(int)
df['cod_curso'] = df['cod_curso'].astype(str)
df['qauntidade_vagas_ociosas'] = df['qauntidade_vagas_ociosas'].astype(int)
df=df.rename(columns={'qauntidade_vagas_ociosas':'quantidade_vagas_ociosas'})
df['cod_curso'] = df.apply(lambda row : '0'+row['cod_curso'] if (len(row['cod_curso'])<4) else row['cod_curso'] ,axis=1)
df.to_csv('vagas_ociosas_2023',sep=',',index=False)

In [8]:
df

,unidade,cod_curso,nome_curso,quantidade_vagas_ociosas
0,INFI,2403,Física - Licenciatura,6
1,INMA,2203,Matemática - Bacharelado,9
2,CPAQ,0447,Matemática - Licenciatura,46
3,CPAN,0553,Matemática - Licenciatura,54
4,CPTL,0789,Matemática - Licenciatura,44
...,...,...,...,...
56,FAALC,2912,Letras - Português/Espanhol - Licenciatura,15
57,CPAQ,0432,Letras - Português/Inglês - Licenciatura,3
58,CPTL,0745,Letras - Português/Inglês - Licenciatura,8
59,FAALC,2913,Letras - Português/Inglês - Licenciatura,3
60,CPTL,0740,Letras - Português/Literatura - Licenciatura,21